/* basic styling for header */
header {
  background-color: var(--site-clr);
}

/* color adjustments for header */
header a,
header a::after {
  --clr-head: var(--tertiary);
}
header a {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-head);

  width: 10ch;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
header a::after {
  display: none;
}
header a:hover {
  background: var(--site-clr);

  transition: 250ms;
}
header a:hover a::after {
  background: var(--clr-head);
}

/* alignment of elements */
[class *= "--container"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.return-home {
  margin-right: auto;
}

/* hide */
.page-menu--icon {
  display: none;
}