@charset "UFT-8";
@import url( imported/reset.css );
@import url( 'https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap' );

:root{

    /* fonts */
    --font: 'Cutive', serif;
    --mono: 'Cutive Mono', monospace;
    --size: 1em;
    --tall: 1.5;

    /* light theme */
    --bg: snow;
    --normal: black;
    --side: dimgray;
    --slight: darkcyan;
    --strong: crimson;

    /* dark theme */



}

@import url( base.css );
@import url( grid.css );
@import url( lyra.css );

/*
body{
    overflow: hidden;

    /** 
     *  the following argument corresponds with 
     *  the set widht/height values for 
     *  the ./grid.css/".container" class
     **
        margin: 3vh 2vw;
    
    font-family: var(--font);
    color: var(--normal);
    background-color: var(--bg);
    font-size: 1em;
    line-height: 1.5;
}

header{
    overflow: inherit;
}
header p{ 
    margin: 0;
    display: inline-block;
}

nav{
    overflow: inherit;
    list-style: none;
    margin-top: 5em;
    color: var(--slight);
}

aside{
    overflow: inherit;
    color: var(--side);
    margin-top: 5em;
}

main{
    overflow: auto;
}

footer{
    overflow: inherit;
}

h1{ 
    padding: 1em 0;
    font-size: 1.5em;
    color: var(--strong);
}
h2{ 
    padding-top: 1em;
    font-size: 1.25em;
    color: var(--strong);
}
h3{ 
    padding-top: 1em;
    font-size: 1em;
    color: var(--normal);
}


p{  
    color: inherit; 
}
    strong{ 
        color: var(--slight); 
    }
    em{ 
        color: var(--slight); 
    }

a{  
    color: currentColor; 
    text-decoration: underline;
}
    a:hover{ 
        color: var(--slight); 
        text-decoration: none;
    }

blockquote{  
    color: currentColor; 
    margin-left: 1em; 
    border-left: 0.2em solid;
    padding: 0.01em 1em;
    border-color: var(--slight);
}
q{  color: var(--slight); }