@charset "uft-8";

/* ********************
 * imports from fonts.googleapis.com
 *
 * standard font: texturinas
 * monospace font: roboto mono
 * ******************** */

  @import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* * reset css */
@import "/css/assets/reset.css";

*, *::before, *::after {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  font-size: clamp(16px, 2vw, 20px);
  padding: 0.5em;
}

/* * variables */
:root {

  /* * shades variables */
  --bw-1: #001b36;
  --bw-2: #073641;
  --bw-3: #585e75;
  --bw-4: #656b83;
  --bw-5: #839495;
  --bw-6: #92a1a1;
  --bw-7: #eee7d5;
  --bw-8: #fdf5e3;

  /* * color variables */
  --yellow: #b58900;
  --orange: #cb3b16;
  --crimson: #dc321f;
  --magenta: #d33681;
  --violet: #5c71c4;
  --marine: #267bd2;
  --cyan: #1aa198;
  --green: #859900;

  /* * page variables */

  /* *
  --normal: var(--magenta);
  --index: var(--normal);
  --login: var(--normal);
  --home: var(--yellow);
  --about: var(--cyan);
  --projects: var(--marine);
  --blog: var(--violet);
  --contact: var(--green);
  * */

  /* * standard variables */
  --speed: 250ms;
  --radius: 5px;
}

/* ********************
 * headings,
 * paragraphs &
 * other elements
 * ******************** */
  h1, h2, h3, h4, h5 {
    border-bottom: 2px solid;
    border-color: var(--site-clr);
  }
  h3, h4, h5 {
    border-color: var(--primary);
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 800;
  }
  h2, h3, h4 {
    font-weight: 600;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    display: inline-block;
    border: none;
    font-size: 1.25em;
    margin-right: 1em;
    margin-bottom: 0.2em;
  }
  h6 {
    display: inline-block;
    color: var(--secondary);
    font-size: 1.0em;
    margin-right: 1em;
    margin-bottom: 0.2em;
  }
  h6 + p {
    display: inline;
  }

  /* * paragraphs */
  p + p {

    padding-top: 0.5em;
  }
  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    padding-top: 1.25em;
  }

  * > h1, 
  * > h2, 
  * > h3, 
  * > h4, 
  * > h5, 
  * > h6 {
    color: var(--site-clr);
    margin-bottom: 0.4em;
  }

  p + h1 {
    margin-top: 0.5em;
  }
  p + h2,
  p + h3 {
    margin-top: 0.25em;
  }
  p + h4,
  p + h5,
  p + h6 {
    margin-top: 0.125em;
  }

  /* * other elements */
  a {
    position: relative;
    color: var(--secondary);
    text-decoration: none;
  }
  a:hover, em, blockquote {
    color: var(--site-clr);
  }  
  
  /* underline with effect */
  a::after {
    position: absolute;
    content: '';

    background: var(--secondary);
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    border-radius: var(--radius);

    transform: scaleX(0.2);
    transform-origin: left;
    transition-duration: var(--speed);
  }
  a:hover::after {
    background: var(--site-clr);

    transform: scaleX(2);
    opacity: 0;
  }

  em {
    font-style: italic;
  }
  strong {
    font-weight: 700;
    color: var(--site-clr);
  }
  blockquote {
    text-transform: lowercase;
    margin: 1ch 2ch;
    padding-left: 4ch;
  }
  ul, ol, li {
    margin: 0;
    padding: 0;
  }

