html {
    margin: var(--mini);

    font-family: var(--sans);
    font-size: var(--size);
    line-height: var(--tall);

    color: var(--main);
    background: var(--none);
}
main {
    margin: var(--smol) 0;
}


h1{ padding: var(--smol) 0;
    font-size: var(--huge);
    color: var(--bold);
}
h2{ padding-top: var(--smol);
    font-size: var(--larj);
    color: var(--emph);
}
h3{ padding-top: var(--tiny);
    font-size: var(--size);
    color: var(--high);
}

strong, em{ 
    color: var(--blue);  
}
a{  color: var(--blue); 
    text-decoration: none;
}
a:hover{
    color: var(--high);
}


blockquote{  
    margin: var(--size) var(--tiny) var(--tiny) var(--tiny);
    border-left: var(--tiny) groove;
    border-right: var(--tiny) groove;
    border-radius: var(--size);
    padding: var(--mini) var(--smol);

    border-color: var(--blue);
    background: var(--base);
}
pre {
    background: var(--base);
    border-left: var(--tiny) groove;
    border-right: var(--tiny) groove;
    border-radius: var(--size);
    padding: var(--smol);
    
    border-color: var(--blue);
    color: var(--blue);
}
q{  color: var(--high);
}

ul, ol {
    margin: 0;
    padding: var(--smol);
}
li {
    padding: var(--mini);
    list-style-type: none;
}