/* TEXT ALIGN */
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.centered{
  text-align: center;
}

/* IMPORTANT CLASSES */
.sans{
  font-family: var(--sans) !important;
}
.serif{
  font-family: var(--serf) !important;
}
.mono{
  font-family: var(--mono) !important;
}

.upper{
  text-transform: uppercase !important;
}
.lower{
  text-transform: lowercase !important;
}

.inactive{
  color: var(--none) !important;
  border-color: var(--none) !important;
}
.inactive:hover{
  background-color: var(--none) !important;
  color: var(--dark) !important;
  border-color: var(--dark) !important;
}