html {
	background: var( --base-color);
	color: var(--text-color);
	margin: var(--size);
}
body > * {
	margin: var(--smol);
}

nav {
	display: none;
	text-align: center;
	border: none;
}
nav ul {
	margin: var(--tiny);
}
nav li {
	margin: var(--smol);
	border: var(--mini) var(--border-style);
	border-radius: var(--border-radius);
	border-color: var(--site-color);
}

footer {
	border: none;
	border-top: var(--mini) var(--border-style);
	border-color: var(--site-color);
	border-radius: var(--border-radius);
	text-align: right;
	color: var(--site-color);
} 

a button {
  margin: var(--smol);
  border: var(--mini) var(--border-style);
  border-radius: var(--border-radius);
  padding: var(--smol);

  background-color: var(--base-color);
  border-color: var(--site-color);
  color: var(--site-color);
}