footer
{
    margin: 0 -1.8rem -4rem;
    padding: var(--huge) var(--LARJ) var(--LARJ);
    background-color: var(--none);
    color: var(--main);
}

footer strong
{
    color: var(--cyan);
}

.locale
{
    margin: 0 -4rem;
    padding: var(--size) -2rem;
    text-align: center;
}

.c-statement
{
    padding: var(--LARJ) 0 0;
    text-align: end;
}