@charset "uft-8";
@import "global.arc.css";

@import "gateway.rsp.css";
header > h1
{
    color: var(--gold);
}
header
{
    border-color: var(--yllw);
}
footer
{
    color: var(--yllw);
    border-color: var(--yllw);
}

.gateway
{
    margin: var(--smol);
    border: var(--mini) solid;
    border-radius: var(--huge);
    border-color: var(--yllw); 
    background-color: var(--dark);
    padding: var(--smol);
}
.gateway > h2
{
    padding: var(--mini) 0 var(--tiny);
    color: var(--yllw);
}


.ornj:hover, .ornj:hover > h2 { color: var(--ornj); border-color: var(--ornj); }
.blue:hover, .blue:hover > h2 { color: var(--blue); border-color: var(--blue); }
.vlet:hover, .vlet:hover > h2 { color: var(--vlet); border-color: var(--vlet); }
.gryn:hover, .gryn:hover > h2 { color: var(--gryn); border-color: var(--gryn); }

.inactive, .inactive > h2
{
    color: var(--none) !important;
    border-color: var(--dark) !important;
}
.inactive:hover, .inactive:hover > h2
{
    color: var(--grey) !important;
    border-color: var(--grey) !important;
}