@charset "uft-8";
@import "global.arc.css";

/* @import "gateway.rsp.css"; */

.gateway
{
    margin: var(--smol);
    border: var(--tiny) solid;
    border-radius: var(--cyde);
    border-color: var(--none); 
    padding: var(--smol);

    background-color: var(--dark);
    min-height: 8rem;
    min-width: 24rem;
}

.gateway > p
{
    padding: var(--tiny) 0;
    font-size: var(--larj);
    color: var(--none);
}

.gateway > h2
{
    padding: var(--mini) 0 var(--tiny);
    font-size: var(--giga);
    color: var(--main);
}

.ornj:hover { border-color: var(--ornj); }
.blue:hover { border-color: var(--blue); }
.vlet:hover { border-color: var(--vlet); }
.gryn:hover { border-color: var(--gryn); }