.item{
    padding: 1em;
    /* keep line below for testing purposes: */
        /* background-color: pink; */
}
.item1{ grid-area: hd; }
.item2{ grid-area: nv; }
.item3{ grid-area: sd; }
.item4{ grid-area: mn; }
.item5{ grid-area: ft; }
/* grid testing class */ .foo  { grid-area: f;  }

.container{
    display: grid;
    grid-gap: 1em;

    /* assign areas into the grid */
    grid-template-areas:
        '.  hd . '
        'nv mn sd'
        'f  mn ft';

    /** 
     *  the following two arguments correspond with 
     *  the set values for 
     *  the ./style.css/"body" tag
    ***/
        width:   96vw; 
        height:  94vh;

    grid-template-rows: 2fr 16fr 1fr;
    grid-template-columns: 2fr 10fr 5fr;
}