@charset "uft-8";
@import "global.arc.css";

:root
{
    --bgcolor: var(--none);
    --site-color: var(--cyan);
}

.inactive, .inactive > h2
{
    color: var(--none) !important;
    border-color: var(--dark) !important;
}
.inactive:hover, .inactive:hover > h2
{
    color: var(--grey) !important;
    border-color: var(--grey) !important;
}