html
{
    background: var(--none);
    margin: var(--size);

    font-family: var(--sans);
}
body
{
    font-size: var(--size);
    line-height: var(--shrt);
    color: var(--main);
}
header
{
    margin-bottom: var(--SIZE);
    border-bottom: var(--mini) solid;
    padding: 0 0 var(--tiny);

    border-color: var(--site-color);
}
header > h1
{
    color: var(--site-color);
}
footer
{
    margin-top: var(--SIZE);
    border-top: var(--nano) solid;
    padding:  var(--smol) 0 var(--GIGA);

    color: var(--site-color);
    border-color: var(--site-color);
}


h1
{
    font-size: var(--giga);
    color: var(--read);
}
h2
{
    font-size: var(--mega);
    color: var(--ornj);
}
h3
{
    font-size: var(--huge);
    color: var(--yllw);
}
h4
{
    font-size: var(--larj);
    color: var(--yllw);
}

p
{
    padding-bottom: var(--size);
}
q
{
    padding-bottom: var(--size);
}
em
{
    font-style: normal;
    color: var(--blue);
}
strong
{
    color: var(--cyan);
}





/*
h1 { 
    background: var(--high);
    border-radius: var(--size);
    margin: 0 0 var(--smol);
    padding: var(--tiny) 0;

    color: var(--base);
    font-size: var(--huge);
    text-align: center;
}
h1 em {
    color: var(--emph);
    font-style: normal;
}
h2 { 
    margin: 0;
    padding: var(--size) 0 0;

    color: var(--emph);
    font-size: var(--larj);
    text-align: center;
}
h3 { 
    margin: 0;
    padding: var(--smol) 0 0;

    color: var(--emph);
    font-size: var(--size);
}

p {
    margin: 0 0 var(--smol);
}

strong, em { 
    color: var(--blue);  
}
a {  
    color: var(--blue); 
    text-decoration: none;
}
a:hover {
    color: var(--high);
}


blockquote {  
    margin: var(--size) var(--tiny);
    background: var(--base);
    border-radius: var(--size);
    border-left: var(--tiny) groove;
    border-right: var(--tiny) groove;
    border-color: var(--blue);
    padding: var(--smol) var(--smol);
}
pre {
    background: var(--base);
    border-radius: var(--size);
    border-left: var(--tiny) groove;
    border-right: var(--tiny) groove;
    border-color: var(--blue);
    padding: var(--smol);
    
    color: var(--code);
}
q {
    color: var(--high);
}

ul, ol {
    margin: 0;
    padding: var(--tiny);
}
li {
    padding: var(--mini);
    list-style-type: none;
}