.sans{
  font-family: var(--sans) !important;
}
.serif{
  font-family: var(--serf) !important;
}
.mono{
  font-family: var(--mono) !important;
}

.upper{
  text-transform: uppercase !important;
}
.lower{
  text-transform: lowercase !important;
}

