@charset "uft-8";

/* import font : Open Sans Family (regular, italic & bold) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');
@import "assets/color-scheme.css";
@import "assets/basic.css";
@import "assets/grid.css";
@import "elements/banner.css";

/* @import "elements/banner.css"; */

:root {
  --site-color: var(--mgen);
}

/* header */

header,
.banner {
  /* reset */
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.banner > * {
  padding: .4rem;
}

.banner-element {
  text-transform: capitalize;
  padding-top: .45em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.home-button {
  left: 0;
  text-transform: uppercase;
  color: var(--site-color);
}

.burger-menu {
  /* background-color: snow; */
  padding: 1em;

  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: -.5em;

}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  content: '';

  background: var(--site-color);
  height: 3px;
  width: 1.25em;
  border-radius: 5px;
}

.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(3px);
}


.burger-menu--open .hamburger {
  background: var(--none);
}
.burger-menu--open .hamburger::before {
  transform: rotate(45deg) translateY(0) translateX(-1px);
}
.burger-menu--open .hamburger::after {
  /* opacity: 0; */
  transform: rotate(-45deg) translateY(-3px) translateX(2px);
}



/* navigation */

.nav-menu {
  z-index: 1;
  opacity: 0;
  transition: ease-in-out 500ms;

  text-transform: capitalize;
}

.nav-menu-item {
  cursor: pointer;

  margin: 0.5rem;
  margin-left: 0;
  border-radius: 1em;
  padding: .75rem;

  font-size: 1.25rem;
  font-weight: 600;

  transition: ease-in-out 250ms;
}
.nav-menu-item:hover,
.nav-menu-item:focus {
  color: var(--site-color);
}

.nav-menu--open {
  opacity: .95;
}


/* global */

.hidden {
  opacity: 0;
  transition: ease-in-out 500ms;
}
