h1{ padding: var(--smol) 0;
    font-size: var(--huge);
    color: var(--bold);
}
h2{ padding-top: var(--smol);
    font-size: var(--larj);
    color: var(--emph);
}
h3{ padding-top: var(--tiny);
    font-size: var(--size);
    color: var(--main-two);
}

strong{ 
    color: var(--bold); 
}
em{ color: var(--emph);
    font-style: normal; 
}
a{  color: var(--blue-one); 
    text-decoration: none; 
}
a:hover{
    color: var(--blue-two);
}

blockquote{  
    color: currentColor; 
    margin: var(--size) var(--tiny) var(--tiny) var(--tiny);
    border-left: var(--tiny) solid;
    padding: var(--tiny) var(--smol);
    border-color: var(--blue-one);
    background: var(--base-one);
}
q{  color: var(--emph); }

li{ list-style-type: none;
    margin: 0;
    padding: 0; 
}