/* : ROOF & BASE */
.roof, .base {
    display: block;
    color: var(--blue);
    background: var(--base);
}
.roof {
    border-top: var(--blue) groove;
    text-align: center;
}
.base {
    border-bottom: var(--blue) groove;
    text-align: right;
}
#author {
    margin: 0;
    display: inline-block;
    color: var(--main);
}

/* : ELEMENT */
.element {
    margin: var(--smol) 0;
    padding: var(--smol);
    border-radius: var(--size);
}

/* : MAIN */


/* : NAVBAR */
.navbar {
    border-top: var(--main) groove;
    text-align: center;
}

/* : SIDEBAR */
.sidebar, .sidebar h3 {
    font-size: var(--cyde);
}
.sidebar h2 {
    font-size: var(--size);
}

/* : CONTENT */
.content {
    border-top: var(--main) groove;
}