:root{
    /* fonts */
    --font: 'Cutive', serif;
    --mono: 'Cutive Mono', monospace;

    /* sizes */
    --tall: 1.5;

    --mini: 1.17px;
    --tiny: 3.43px;
    --smol: 6.86px;
    --size: 11.7px;
    --larj: 15.13px; /* size+tiny */
    --huge: 18.56px; /* size+smol */
    --mega: 23.4px;  /* 2*size */
    --giga: 34.3px;

    /* color scheme */
    --base-nil: #00072d; /* oxford */
    --base-one: #043565; /* prussian*/
    --base-two: #001c55; /* royal */
    --main-one: #aeb7b3; /* ash */
    --main-two: #bbb891; /* sage */
    --blue-one: #086788; /* pacific */
    --blue-two: #06aed5; /* cerulean */
    --emph    : #ec7d10; /* tangerine */
    --bold    : #f0c808; /* jonquil */
}