/* GENERAL */
body{
  font-family: var(--sans);
  font-size: var(--size);
	line-height: var(--shrt);
	padding-bottom: var(--smol);

	color: var(--base);
}
h1, h2, a, em, strong{
	color: var(--site-color);
}

/* HEADINGS */
h1{
	/* title */
	font-size: var(--giga);
  text-transform: capitalize;
}
h2{
	/* subtitle */
	padding-bottom: 0;
	font-size: var(--huge);
  text-transform: capitalize;
}
h3{
	/* section */
	font-size: var(--larj);
  text-transform: capitalize;
}
h4{
	/* subsection */
	font-size: var(--larj);
  text-transform: capitalize;
}
h5{
	/* subsubsection */
	font-size: var(--size);
  text-transform: capitalize;
}
h6{
	/* subsubsubsection */
	font-size: var(--size);
  text-transform: capitalize;
}

/* PARAGRAPHS */
p{
}
q{
}
em{
	font-style: italic;
}
strong{
	font-weight: bold;
}
a{
	text-decoration: none;
}
a:hover{
	/* text-decoration: overline; */
}