/* GENERAL */
body, body > *{
  font-family: var(--sans);
  font-size: var(--size);
	line-height: var(--shrt);
}
h1, h2, a, em, strong{
	color: var(--site-color);
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6{
	text-transform: capitalize;
}
h1{
	/* title */
	background: var(--site-color);
	border-radius: var(--radius);
	text-align: center;
	font-size: var(--giga);
	color: var( --base-color);
}
.subtitle{
	padding: var(--mini);
	font-size: var(--huge);
}
h2{
	/* section */
	font-size: var(--larj);
}
h3{
	/* subsection */
	font-size: var(--larj);
}
h4{
	/* subsubsection */
	font-size: var(--larj);
}
h5{
	/* subsubsubsection */
	font-size: var(--size);
}
h6{
	/* subsubsubsubsection */
	font-size: var(--size);
}

/* PARAGRAPHS */
p{
	padding: var(--smol) 0;
}
q{
	padding: var(--larj) var(--size);
}
em{
	font-style: italic;
}
strong{
	font-weight: bold;
}
a{
	text-decoration: none;
}