/* make links display color of target page */
.go-home:hover {
  color: var(--yllw);
}
.go-about:hover {
  color: var(--blue);
}
.go-blog:hover {
  color: var(--vlet);
}
.go-contact:hover {
  color: var(--gryn);
}

/* used to hide elements on mobile */
@media (max-width: 800px) {
  .hidden-on-mobile {
    opacity: 0;
    transition: ease-in-out 500ms;
  }
}

/* used to hide elements from flow */
.shant-exist {
  display: none;
}