/* ELEMENTS */
@import "../elements/banner.css";
/* @import "elements/navigation.css"; */

@import "../elements/hamburger.css";


/* RETURN HOME */
.return--button::before {
  display: inline-block;
  content: 'return';

  font-size: 0.8em;
  color: var(--base);
}

/* make links display color of target page */
.goto-home:hover,
.goto-home:focus {
  color: var(--home);
}
.goto-about:hover,
.goto-about:focus {
  color: var(--about);
}
.goto-projects:hover,
.goto-projects:focus {
  color: var(--projects);
}
.goto-blog:hover,
.goto-blog:focus {
  color: var(--blog);
}
.goto-contact:hover,
.goto-contact:focus {
  color: var(--contact);
}
.goto-login:hover,
.goto-login:focus {
  color: var(--login);
}
