:root {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

* {
  background-color: var(--none);
  color: var(--main);
}

html {
  padding: 1ch;
}

body {
  margin: 0 auto;
  line-height: 1.25;
}

header {
  position: relative;
}

main {
  max-width: 80ch;
}

aside {
  display: none;
}


a:hover, em, strong, blockquote {
  color: var(--site-color);
}

blockquote {
  text-transform: lowercase;
  margin: 1ch 2ch;
}

ul, ol {
  list-style: none;
  margin-left: 4ch;
}


@media (min-width: 800px) {
  html {
    padding: 2ch 10ch;
  }
}
