body {
  display: grid;
  grid-template-rows: 50px 1fr 500px;
  grid-template-columns: repeat(auto-fill, 1fr);
}
body > * {
  margin: auto 0;
}

header {
  grid-row: 1 / 1;
  grid-column: 1 / -1;
}
footer {
  grid-row: -1 / -1;
  grid-column: 1 / -1;
}