:root {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-size: 16px; */
  font-size: 1.17em;
  line-height: 1.25;


  --none: #001b36;
  --dark: #073641;
  --grey: #585e75;
  --base: #656b83;
  --step: #839495;
  --half: #92a1a1;
  --solr: #eee7d5;
  --high: #fdf5e3;

  --main: #bbb890;
  --gold: #ffd699;

  --yellow: #b58900;
  --orange: #cb3b16;
  --crimson: #dc321f;
  --magenta: #d33681;
  --violet: #5c71c4;
  --marine: #267bd2;
  --cyan: #1aa198;
  --green: #859900;

  --primary: var(--half);
  --secondary: var(--none);

  --home: var(--crimson);
  --work: var(--marine);
  --idea: var(--violet);
  --contact: var(--green);
}