:root {
  font-size: 18px;
  /* font-size: 1.17em; */
  line-height: 1.25;

  --clr-lvl-1: #001b36;
  --clr-lvl-2: #073641;
  --clr-lvl-3: #585e75;
  --clr-lvl-4: #656b83;
  --clr-lvl-5: #839495;
  --clr-lvl-6: #92a1a1;
  --clr-lvl-7: #eee7d5;
  --clr-lvl-8: #fdf5e3;

  --main: #bbb890;
  --gold: #ffd699;

  --yellow: #b58900;
  --orange: #cb3b16;
  --crimson: #dc321f;
  --magenta: #d33681;
  --violet: #5c71c4;
  --marine: #267bd2;
  --cyan: #1aa198;
  --green: #859900;

  --home: var(--crimson);
  --work: var(--marine);
  --idea: var(--violet);
  --contact: var(--green);
}