.page-grid {
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-gap: 1em;
}

header, main, footer { 
  border-radius: var(--radius);
  padding: 1em;
}

header  { grid-area: header; }
main    { grid-area: main; }
footer  { grid-area: footer; }

/* header */
header a {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-b);

  width: 10ch;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
header a:hover {
  color: var(--site-clr);

  transition: 250ms;
}
header a:hover a::after {
  background: var(--clr-head);
}


/* footer */
footer {
  font-size: 0.7rem;
  margin-bottom: 10em;
}

/* burger menu */

.page-menu__link--container * {
  display: none;
}

/* creating the burger *
.burger,
.burger::before,
.burger::after {
  /* make in style object only *
  pointer-events: none;

  /* bars *
  display: block;
  content: '';
  background: var(--primary);

  /* positioning *
  position: absolute;
  height: 3px;
  width: 20px;
  top: 50%;
  left: 32.5%;
  border-radius: 10px;
}

/* aligning the burger and lines *
.burger {
  transform: translateY(-1px);
}
.burger::before {
  left: 0;
  transform: translateY(-9px);
}
.burger::after {
  left: 0;
  transform: translateY(5px);
}