:root {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;

  --home: --yllw;
  --about: --ornj;
  --projects: --blue;
  --blog: --vlet;
  --contact: --gryn;
  --login: --cyan;
}


/* BASIC */

* {
  background-color: var(--none);
  color: var(--main);
}

* + * {
  margin-top: 1em;
}

html {
  padding: 1ch;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.25;
}

header *{
  margin: 0;
  position: relative;
}

main {
  max-width: 80ch;
}

aside {
  display: none;
}


/* TEXTUAL */

a:hover, em, strong, blockquote {
  color: var(--site-color);
}
a {
  text-decoration: none;
}

blockquote {
  text-transform: lowercase;
  margin: 1ch 2ch;
}

ul, ol {
  list-style: none;
  margin-left: 4ch;
}


/* MEDIA QUERIES */

@media (min-width: 800px) {
  html {
    padding: 2ch 10ch;
  }
}
