:root {
  --none: #002b36;
  --dark: #073642;
  --grey: #586e75;
  --base: #657b83;
  --step: #839496;
  --half: #93a1a1;
  --solr: #eee8d5;
  --high: #fdf6e3;

  --main: #bbb891;
  --gold: #ffd700;

  --yllw: #b58900;
  --ornj: #cb4b16;
  --redx: #dc322f;
  --mgen: #d33682;
  --vlet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --gryn: #859900;
}