nav ul {
  margin: 0;
  padding: 0;
}

.nav-menu {
  z-index: 1;
  opacity: 0;
  transition: ease-in-out 500ms;

  text-transform: capitalize;
}
.nav-menu a {
  text-decoration: none;
  padding: 1ch;
  padding-left: 0;
}

.nav-menu-item {
  margin: 2ch;
  border-radius: 1em;

  font-size: 1.25rem;
  font-weight: 600;

  transition: ease-in-out 250ms;
}
.nav-menu-item:hover,
.nav-menu-item:focus {
  color: var(--site-color);
}

.nav-menu--open {
  opacity: .95;
}

@media (min-width: 800px) {
  .nav-menu,
  .nav-menu-item {
    z-index: 0;
    opacity: 1;
    margin: 0;
    padding: 0;
  }
  .nav-menu {
    margin-top: 4ch;
  }

  .nav-menu-item {
    padding-bottom: 2ch;
  }

  .nav-menu-item.home {
    display: none;
  }
}