.page-grid {
  display: grid;
  grid-template-areas: 
    'head'
    'main'
    'foot';
  grid-gap: 1em;
}

header, main, footer { 
  border-radius: 0.4em;
  padding: 1em;
}

header  { grid-area: head; }
main    { grid-area: main; }
footer  { grid-area: foot; }

/* hide */
.page-menu--icon {
  display: none;
}