@import '../global.css';

/* custom :root-variables */
:root{
  --bgcolor: var(--none);
  --site-color: var(--portal-color);
}

/**
 * LOCAL CSS
**/

.gateway
{
  margin: var(--smol);
  border: var(--mini) solid;
  border-radius: var(--huge);
  border-color: var(--site-color); 
  background-color: var(--dark);
  padding: var(--smol);
}
.gateway > h2
{
  padding: var(--mini) 0 var(--tiny);
  color: var(--yllw);
}

.homepage:hover, .homepage:hover > h2 
{
  color: var(--homepage-color); 
  border-color: var(--homepage-color);
}
.business:hover, .business:hover > h2
{
  color: var(--business-color); 
  border-color: var(--business-color);
}
.blog:hover, .blog:hover > h2 
{ 
  color: var(--blog-color); 
  border-color: var(--blog-color); 
}
.contact:hover, .contact:hover > h2 
{ 
  color: var(--contact-color); 
  border-color: var(--contact-color); 
}

/**
 * RESPONSIVE DESIGN: mobile first approach!
**/

.gateway
{
  min-height: var(--HUGE);
  min-width: calc( 3 * var(--HUGE) );
}
.gateway > h2
{
  font-size: var(--mega);
}

@media only screen and (min-width: 800px)
{
  .gateway
  {
    min-height: var(--MEGA);
    min-width: calc( 3 * var(--MEGA) );
  }
  .gateway > h2
  {
    font-size: var(--giga);
  }
}

@media only screen and (min-width: 1000px)
{
  .gateway
  {
    min-height: var(--GIGA);
    min-width: calc( 3 * var(--GIGA) );
  }
  .gateway > h2
  {
    font-size: var(--SIZE);
  }
}