/* make links display color of target page */
li[class *= "goto-"] a {
  color: var(--main);
}

/* needed for following lines */
.page-menu--container {
  position: relative;
}

li[class *= "goto-"]::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0.25rem;
  width: 6rem;
  height: 2px;
  background: var(--main);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

li[ class *= "goto-"]:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
  .goto-about:hover::before {
    background: var(--home);
  }
  .goto-projects:hover::before {
    background: var(--work);
  }
  .goto-blog:hover::before {
    background: var(--idea);
  }
  .goto-contact:hover::before {
    background: var(--contact);
  }
  .goto-login:hover::before {
    background: var(--home);
  }

.goto-about:hover a {
  color: var(--home);
}
.goto-projects:hover a {
  color: var(--work);
}
.goto-blog:hover a {
  color: var(--idea);
}
.goto-contact:hover a {
  color: var(--contact);
}
.goto-login:hover a {
  color: var(--home);
}

