/* basic styling for header */

/* color adjustments for header */
header a {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-b);

  width: 10ch;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
header a:hover {
  color: var(--site-clr);

  transition: 250ms;
}
header a:hover a::after {
  background: var(--clr-head);
}

/* alignment of elements */
[class *= "--container"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.return-home {
  margin-right: auto;
}