.nav-menu {
  z-index: 1;
  opacity: 0;
  transition: ease-in-out 500ms;

  text-transform: capitalize;
}

.nav-menu-item {
  cursor: pointer;

  margin: 0.5rem;
  border-radius: 1em;
  padding: .75rem;

  font-size: 1.25rem;
  font-weight: 600;

  transition: ease-in-out 250ms;
}
.nav-menu-item:hover,
.nav-menu-item:focus {
  color: var(--site-color);
}

.nav-menu--open {
  opacity: .95;
}

@media (min-width: 800px) {
  .nav-menu {
    z-index: 0;
    opacity: 1;

    padding: 2rem .4rem;
  }

  .nav-menu * {
    margin: 0;
    padding: 0;
  }

  .nav-menu-item {
    padding-bottom: 1rem;
  }

  .nav-menu-item.home {
    display: none;
  }
}