* li[ class *= "return-"] {
  position: relative;
}

li[ class *= "return-"]::before {
  content: '';
  position: absolute;

  bottom: 0;
  left: 0;
  width: 150%;
  height: 2px;
  background: var(--main);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 350ms ease-in;
}

li[ class *= "return-"]:hover::before {
  transform-origin: right;
  transform: scaleX(1);
}

li[ class *= "return-"]:hover a {
  color: var(--main);
}
li[ class *= "return-"]:hover::before {
  background: var(--main);
}